body{
    background: #063474;
    font-family: 'Times New Roman', Times, serif;
    margin: 40px;
}
h1{
    color: #FA8E50;
    text-align: center;
}
.about{
    background-color: #646265;
    font-family: 'Times New Roman', Times, serif;
    display:flex;
    flex-wrap:wrap;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: center;    
}
.about img {
    width: 150px;
    height: 200px;
    border-radius: 25%;
    border: 2px solid #646265;
}    
.about p {
    width:50%;
    text-align: center;
    margin: auto;
    line-height: 125%;
}
.skills{
    background-color: #646265;
    font-family: 'Times New Roman', Times, serif;
}
.projects { 
    display:flex; 
    flex-wrap:wrap; 
}
.projects{
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: #646265;
}
.project img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid;
    display: block;
    margin: auto;
    }
.contact{
    background-color: #fada5f;
    font-family: 'Times New Roman', Times, serif;
}