body{
    background: #063474;
    font-family: 'Times New Roman', Times, serif;
    margin: 40px;
}
h1{
    color: #FA8E50;
    text-align: center;
}
.about{
    background-color: #fada5f;
    font-family: Arial, Helvetica, sans-serif;
}
.skills{
    background-color: #fada5f;
    font-family: 'Times New Roman', Times, serif;
}
.projects { 
    display:flex; 
    flex-wrap:wrap; 
}
.projects{
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: #c582d7;
    border-radius: 25%;
    background-color: #626767;
    font-family: 'Times New Roman', Times, serif;
}
.project img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid;
    display: block;
    margin: auto;
    }
.contact{
    background-color: #fada5f;
    font-family: 'Times New Roman', Times, serif;
}